@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>
        ALARM: Applicant Loan Analyzer for Risk Management- Мы расскажем Вам о чём думают Ваши клиенты.
    </h1>
    <p>
        <a asp-controller="Prediction" asp-action="Index">Перейти в раздел Анализа благонадежности клиента</a>
    </p>
</div>

