.vs/
ALARM-System/.vs/
ALARM-System/Alarm/obj/
ALARM-System/AlarmWebAPI/obj/
ALARM-System/Alarm/bin/
ALARM-System/AlarmWebAPI/bin/
ALARM-System/AlarmWebAPI/Dataset/.ipynb_checkpoints
ALARM-System/AlarmWebAPI/Dataset/xmass-hack-2024.csv
ALARM-System/Alarm/appsettings.json