@model PredictionRequest
@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script>
        $(document).ready(function () {           
            $("input").on("input change", function () {
                const validationMessage = $(this).siblings(".text-danger");
                if (validationMessage.length > 0) {
                    validationMessage.text(""); 
                }
            });
        });
    </script>
}
<h2 class="text-center"><i class="fas fa-user-circle me-2"></i>Анализ благонадежности</h2>
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card card-body bg-light">
            <!-- Validation Summary: -->
            @if (!ViewData.ModelState.IsValid && ViewData.ModelState.Count > 0)
            {
                <div class="alert alert-danger d-flex align-items-center mb-3" role="alert">                   
                    <div>
                        <strong> <i class="fas fa-exclamation-circle me-2"></i>ERROR:</strong>
                        <div asp-validation-summary="All" class="text-danger"></div>
                    </div>
                </div>
            }
            <form asp-action="Predict" method="post">
                <!-- INN Field (Required) -->
                <div class="mb-3">                   
                    <label asp-for="inn" class="form-label">
                        <i class="fas fa-id-card me-2"></i>INN <span class="text-danger">*</span>
                    </label>
                    <input asp-for="inn" class="form-control border border-danger" placeholder=Enter INN number" />
                    <span asp-validation-for="inn" class="text-danger"></span>
                </div>
                <!-- Phone Field -->
                <div class="mb-3">
                    <label asp-for="phone_mask" class="form-label">
                        <i class="fas fa-phone me-2"></i>Phone
                    </label>
                    <input asp-for="phone_mask" class="form-control" placeholder="Enter phone number" />
                    <span asp-validation-for="phone_mask" class="text-danger"></span>
                </div>
                <!-- Submit Button -->
                <div class="mt-4">
                    <button type="submit" class="btn btn-primary w-100">
                        <i class="fas fa-chart-bar me-2"></i>Forecast
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


